<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @listing.user_id = current_user.id %>
  <% puts @listing %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :product_type %>
    <%= form.text_field :product_type %>
  </div>

  <div class="field">
    <%= form.label "Attach Photo" %>
    <%= form.file_field :img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%# TODO: Need to make this look presentable and dynamic, also user must be attached %>
