<script>
  document.addEventListener('DOMContentLoaded', () => {
    const listing_isbn = document.getElementById("listing_isbn");
    const listing_product_type = document.getElementById('listing_product_type');
    listing_isbn.disabled = (listing_product_type.value == 'book') ? false : true;

    const submit_btn = document.getElementsByName('commit')[0];
    submit_btn.style.cursor = 'pointer';

    listing_product_type.addEventListener('change', (info) => {
      listing_isbn.disabled = (info.target.value == 'book') ? false : true;
    })
  });
</script>

<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :product_type %>
    <%= form.select :product_type, ['book', 'required material', 'other'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
