
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', :class => 'form-control form-control-lg' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control form-control-lg' %>
  </div>

  <div class="form-group">
    <%= form.label :major %>
    <%= form.select :major, ["Computer Science", 'Business', 'Finance', 'Electrical Engineering', 'Mathematics', 'Other'], { class: 'form-control' }, :prompt => 'Select a major' %>
  </div>
