<p id="notice"><%= notice %></p>
<% @user = User.find(params[:id]) %>
<% @user_listings = Listing.all.where('user_id=:id', :id => params[:id]) %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>

<br>
<strong>USERS LISTING</strong>
<% @user_listings.each do |listing| %>
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
